#price {
  margin: 3rem 0;
  & > .content {
    background-color: rgba(255, 255, 255, 0.6);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  img {
    width: 100%;
    object-fit: contain;
  }

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    margin: 1rem 0 2rem;
    text-align: center;
  }
}

@media (min-width: 992px) {
  #price {
    .price__items {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
    }
  }
}
